html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
h1{
  font-size: 159%;
  line-height: 199%;
  text-align: center;
  margin: 1%;
}
p{
  font-size: 120%;
  line-height: 160%;
  text-align: center;
  margin: 1%;
}
.background-main{
  width: 100%;
  height: 100%;
  margin: auto;
  background: url(../images/background-main.jpg) no-repeat 50% 50%;
  top: 0;
  display: table;
  background-size: cover;
}
.background-main .inner{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}
.content{
  max-width: 500px;
  margin: auto;
  text-align: center;
}
.content h1{
  font-family: 'Century Gothic',sans-serif;
  color:    #5dade2;
  font-size: 450%;
  text-shadow: 0 0 300px #000;
  margin: 20px;
}
.content .btn{
  border-radius: 9px;
  color: #f9f3f4;
  text-decoration: none;
  font-family: 'Century Gothic',sans-serif;
  border: 3px solid;
  padding: 7px 13px;
  font-weight: bold;
}
.content .btn:hover{
  color:  #5dade2 ;
}
.simple-grey-bg {
  background: #566573;
}
.simple-grey-bg h1, p {
  color: #ccc;
}
.login-signup {
  padding-top: 5%;
  display: table-cell;
  vertical-align: top;
  
}
.login {
  width: 33%;
  float: left;
}
.signup {
  width: 33%;
  float: right;
}
.login-signup-center {
  margin:0 auto;
  width:33%;
}